body { 
    margin: 0; 
    height: 100%;
    overflow: hidden
}

canvas { 
    width: 100%; 
    height: 100%;
    background-image: url("images/pacman_homepage_background.jpg");
    background-size: 100% 100%;
}

/* Applies these properties to all the buttons and inputs */
button { 
    border:none; 
    cursor: pointer; 
    outline: none; 
}

input { 
    outline: none; 
}

button#settings {
    background: url("images/settings.png") no-repeat;
    height: 96px;
    width: 96px;
    position: absolute;
    left: 10px;
}

button#playpausebtn {
    background: url("images/play.png") no-repeat;
    height: 96px;
    width: 96px;
    position: absolute;
    left: 100px;
}

button#mutebtn {
    background: url("images/volume-high.png") no-repeat;
    height: 50px;
    width: 50px;
}

button#back {
    background: url("images/back_arrow.png") no-repeat;
    height: 50px;
    width: 50px;
}

input#volumeslider {
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
input#volumeslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}
  
input#volumeslider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

div#container{
    width: 100%;
    height: 100%;
    position: absolute;
}

div#container_death {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

div#Info {
    position: absolute;
    bottom: 0%;
    left: 5px;
    color: chartreuse;
    display: none;
}

div#score {
    position: absolute;
    right: 20px;
    top: 33%;
    color: chartreuse;
    font-size: 200%;
    display: none;
}

div#victory {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

table#victory_table {
    font-size: 500%;
    color:green;
    margin: 10% auto;
    border-spacing: 50px;
    border-collapse: separate;
    background: none!
}

td#diff {
    font-size: 50%;
    color: white;
}

table#settingsTable {
    margin: 10% auto;
    border-spacing: 50px;
    border-collapse: separate;
    font-size: 50px;
    background: rgba(20, 50, 60, 0.6);
}

table#death {
    font-size: 500%;
    color: red;
    margin: 10% auto;
    border-spacing: 50px;
    border-collapse: separate;
    background: rgba(20, 50, 60, 0.6);
}

td {
    text-align: center;
}

#loading-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.loading-overlay-hidden {
    display: none !important;
}

#loading-bar {
    width: 25em;
    height: 1em;
    border-radius: 0.25em;
    background-color: black;

    border: 1px solid grey;
    display: none;

}

#progress {
    background-color: #75b800;
    height: inherit;
    border-radius: inherit;
    display: none;
    width: 5%;
}
